body {
    background-color:#F0F0F0;
}

.Nav {
    margin-top:10px;
    color:#333;
    font-family:"Arial,Helvetica,sans-serif";
}
.Nav a {
    color:#666;
}


.mainBox {
    width:100%; margin:10px 0px;box-shadow:0 0 10px #eee;float:left;background-color:#fff;min-height:150px;
}
.mainBox .titleName {
    color: #000;
    font-size: 18px;
    line-height: 1.1;
    font-weight: 700;
    float: left;
    padding: 0px 0px 1px 5px;
    border-left: 4px solid #c82c2c;
    padding-left: 7px;
}
.proList {
    float: left;
    padding: 10px;
    width:1190px;
}
ul.SearchUl {
    margin:10px;
    padding:10px 0px;
    float:left;
    background-color:#fff;
    transition:all 0.3s;    
    cursor:pointer;
    width:570px;
    /*box-shadow:0 0 10px #ddd;*/
    border-radius:5px;
    border:1px solid #e5e5e5;
     transform:translate3d(0,-2px,0);
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

ul.SearchUl:hover {
    box-shadow:0px 15px 20px rgba(0, 0, 0, 0.25);
    transform:translate3d(0,-2px,0);
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
ul.SearchUl li.left{
    float: left;
    width: 100px;
    height: 100px;
    padding: 10px 20px;
}
ul.SearchUl li.right {
 
    float:left;width:400px;height:auto;
}
ul.SearchUl li.right span {
    font-size:14px;
    color:#666;
    line-height:28px;
    margin-right:5px;
    
}
ul.SearchUl li.right span.title {
    color: #000; font-size: 20px; line-height: 35px;
}
ul.SearchUl li.right span.price {
    font-size: 16px;
    color: #c82c2c;
}
ul.SearchUl li.right span.time {
    font-size:14px;
}
ul.SearchUl li.right span.feature {
    font-size:14px;  
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    width:320px;
    display:block;
    float:left;
}



.flip {
    width:1200px;
    
    margin:10px 0px;
    padding:10px 0px; 
}
.flip .flipPaging {
	padding: 0px;
	margin: 0px;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
}
.flipPaging span{
	font-family: Tahoma, Verdana;
    margin:0px 5px;
    padding:2px 8px;
	}
.flipPaging  span.current {
    border: #e63547 1px solid; 
    font-weight: bold; 
    color: #fff;
    margin:0px;
    background-color: #e63547 ;
}
.flipPaging  span.disabled {
    border: #d5d5d5 1px solid;      
    color: #999;  
    text-decoration: none;
}
.flipPaging a {
    border: #d5d5d5 1px solid;
    padding:2px 8px; 
    color: #e63547;
    margin:0px 5px;
    text-decoration: none;
}
.flipPaging a:hover {
    border-color:#CB1717;
    background-color:#F7D2D5;
}
