@{
    ViewBag.Title = "Error";
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>错误500-小怪兽手机商城</title> 
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />

        
<style type="text/css">

    * { margin: 0; padding: 0; }
    body { background:#fff;}
    img {border:0;}
    body,html {}
    .content{
        position:relative;
        background:url(../../Images/500.png) no-repeat;
        width:1000px;
        height:650px;
        margin:0 auto;
        margin-top:100px;
        /*
        margin-top:100px;
        padding-top:290px;
        padding-left:450px;
        margin-left:350px;*/
    }

</style>



  </head>

    <body>
       
    <div class="content">  
        @{  
        
            /*
            var exception = ViewData.Model;  
            var statusCode = exception == null ? 404 : 500;  
            Response.StatusCode = statusCode;  
            if (statusCode == 404)  
            {  
             
            }  
            else if (statusCode == 500)  
            {  
                <h3>500 程序异常</h3>  
                <p>@exception.Message</p>  
            }  
             */
        }  
        <p style="font-size: 12px; color: Gray">请使用浏览器的后退功能已保证您填写的数据没有丢失！</p>  
    </div>  
    </body>
</html>

